footer
  block footer
  
    div.credits.clearfix
      div
        h4 Uzman katılımcılar
        ul
          li 
            a(href='https://github.com/arifcakiroglu') @arifcakiroglu
          li 
            a(href='https://twitter.com/ekinintiviti') @ekinsigic
          li 
            a(href='https://github.com/oguzhancolak') @oguzhancolak
            
      div
        h4 Teşekkürler
        ul
          li 
            b Logo/web design 
            br
            a(href='https://github.com/arifcakiroglu') @arifcakiroglu
          li 
            b Organizasyon
            br
            a(href='https://twitter.com/ekinintiviti') @ekinsigic
          
              
      div
        h4 Güzel şeyler
        ul
          li 
            a(href='https://octicons.github.com') Octicon
          li 
            a(href='http://wintersmith.io') Wintersmith.io
          li 
            a(href='http://primercss.io/') Primercss.io
          li 
            a(href='http://vincentgarreau.com/particles.js/') Particles.js
      div.sponsor
        h4 Sponsor
        a(href='mailto:nodejsdersleri@gmail.com') Belki siz olursunuz? 
        
    div 
      | NodeSchool Istanbul 
      a(href='http://nodejs-dersleri.github.io') Nodejs Dersleri
      |  tarafından organize edilmektedir.
      
    nav
      a(href='http://nodeschool.io/istanbul') Node School Istanbul 
      a(href='http://nodeschool.io/istanbul/code-of-conduct') Code of Conduct
      a(href='https://twitter.com/nodejsdersleri') @nodejsdersleri
