
header 
  h1
    a(href= locals.url) NodeSchool Istanbul
    
  a.social(href='https://twitter.com/home?status=NodeSchool%20chapter%20for%20Istanbul%20http%3A//nodeschool.io/istanbul', target='_blank')
    span.socicon.socicon-twitter

  a.social(href='https://www.facebook.com/sharer/sharer.php?u=http%3A//nodeschool.io/istanbul', target='_blank')
    span.socicon.socicon-facebook

  a.social(href='https://plus.google.com/share?url=http%3A//nodeschool.io/istanbul', target='_blank')
    span.socicon.socicon-google

  a.social(href='https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.linkedin.com/grp/home?gid=8422784&title=Nodeschool%20Istanbul&summary=&source=', target='_blank')
    span.socicon.socicon-linkedin
  
  a.social(href='mailto:nodeistanbul@gmail.com', target='_blank')
    span.socicon.socicon-mail
